<title>URL Crusher</title>
<link rel="stylesheet" type="text/css" href="/stylesheet.css">
<meta name="keywords" content="url shortener, twitter url shortener">
<meta name="description" content="Quick and easy URL shortener app">
<meta name="viewport" content="width=device-width, user-scalable=no" />
