<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/_header.ejs %>
  </head>
  <body>

<div class ="main">

  <% include ../partials/_nav.ejs %>
  <h1>Make A New Url</h1>

    <form action="/urls" method="POST" style="margin-bottom:15px;">
      <label for="longURL">Paste a URL:</label><br />
      <input id="longURL" type="text" name="thisinput" placeholder="http://" style="width: 200px"><br />
      <input type="submit" value="Sasdfhubmit">
    </form>

</div>

  </body>
</html>
