<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/_header.ejs %>
</head>

<body>
    <section class="main">
        <% include ../partials/_nav.ejs %>
            <h1>Recent URLs</h1>

            <ul>
                <% url.reverse().forEach( (url) => {  %>
                    <div class="linkArea">

                        <li>
                            Edit:
                            <a class="editLink" href="/urls/<%= url.shortURL %>">
                                <%= url.shortURL %>
                            </a> <br>
                            <%= url.longURL %>
                        </li>

                        <form method="POST" action="/urls/<%= url.shortURL %>?_method=DELETE">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit">DELETE :(</button>
                        </form>

                        <% include ../svg/1410437311.svg %>

                    </div>

                    <% }); %>

            </ul>

            <% include ../partials/_footer.ejs %>

    </section>

</body>

</html>
