<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_header.ejs %>
</head>
<body>
    <!-- Write EJS code here to display shortened links -->

    <h1>Home Page</h1>

    <ul>
      <% for(key in urls) { %>
          <li>
              <%= key %> - <%= urls[key] %>
          </li>
          <% }; %>
    </ul>
</body>
</html>
