<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/_header.ejs %>
</head>

<body>
    <!-- Write EJS code here to display shortened links -->

    <h1>URLs_show.ejs</h1>

    <ul>
          <li>
              <a href="#"> http://localhost:8080/urls/<%= shortURL %> </a>
          </li>

    </ul>
</body>
</html>
