<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/_header.ejs %>
        <link rel="stylesheet" type="text/css" href="/stylesheet.css">
</head>

<body>
<section class="main">
  <% include ../partials/_nav.ejs %>
    <h1>Your Links!</h1>

    <ul>
        <% for(key in urls) { %>
          <div class="linkArea">

            <li>
                Edit Link: <a class="editLink" href="/urls/<%= key %>"><%= key %></a> <br>
                    <%= urls[key] %>
            </li>

            <form method="POST" action="/urls/<%= key %>?_method=DELETE">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit">DELETE</button>
            </form>
                </div>
            <% }; %>
    </ul>

</section>

</body>

</html>
